In [2]:
import pandas as pd

In [5]:
survey_data = pd.read_csv('survey_data.csv')

In [4]:
print(survey_data.head(5))

       Date  5 Star  4 Star  3  Star  2 Star  1 Star   Sent Delivered  Opens  \
0  1/1/2023     264     174       55      36      64  4,076     4,041  2,390
1  1/2/2023     269     182      113      71      93  5,069     5,017  2,980
2  1/3/2023     245     147       73      42      54  4,588     4,530  2,644
3  1/4/2023      89      46       20       9      15  1,118     1,102    692
4  1/5/2023      67      52       23       9      11  1,162     1,147    700

  Clicks Open Rate Click Rate Notes
0    579    59.14%     14.33%   NaN
1    710    59.40%     14.15%   NaN
2    543    58.37%     11.99%   NaN
3    172    62.79%     15.61%   NaN
4    158    61.03%     13.78%   NaN

In [8]:
columns_to_sum = ['5 Star', '4 Star', '3  Star', '2 Star', '1 Star']

survey_data['total_responses'] = survey_data[columns_to_sum].sum(axis=1)

In [11]:
descriptive_stats = survey_data['total_responses'].describe()

print(descriptive_stats)

count    365.000000
mean     329.641096
std      162.008157
min        0.000000
25%      205.000000
50%      291.000000
75%      452.000000
max      790.000000
Name: total_responses, dtype: float64

In [15]:
survey_data['perc_star_1'] = (survey_data['1 Star'] / survey_data['total_responses']) * 100
survey_data['perc_star_2'] = (survey_data['2 Star'] / survey_data['total_responses']) * 100
survey_data['perc_star_3'] = (survey_data['3  Star'] / survey_data['total_responses']) * 100
survey_data['perc_star_4'] = (survey_data['4 Star'] / survey_data['total_responses']) * 100
survey_data['perc_star_5'] = (survey_data['5 Star'] / survey_data['total_responses']) * 100

In [16]:
survey_data.head(5)

,Date,5 Star,4 Star,3 Star,2 Star,1 Star,Sent,Delivered,Opens,Clicks,Open Rate,Click Rate,Notes,total_responses,perc_star_1,perc_star_2,perc_star_3,perc_star_4,perc_star_5
0,1/1/2023,264,174,55,36,64,"4,076","4,041","2,390",579,59.14%,14.33%,NaN,593,10.792580,6.070826,9.274874,29.342327,44.519393
1,1/2/2023,269,182,113,71,93,"5,069","5,017","2,980",710,59.40%,14.15%,NaN,728,12.774725,9.752747,15.521978,25.000000,36.950549
2,1/3/2023,245,147,73,42,54,"4,588","4,530","2,644",543,58.37%,11.99%,NaN,561,9.625668,7.486631,13.012478,26.203209,43.672014
3,1/4/2023,89,46,20,9,15,"1,118","1,102",692,172,62.79%,15.61%,NaN,179,8.379888,5.027933,11.173184,25.698324,49.720670
4,1/5/2023,67,52,23,9,11,"1,162","1,147",700,158,61.03%,13.78%,NaN,162,6.790123,5.555556,14.197531,32.098765,41.358025